body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("water.gif");

  /* Add the blur effect */


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.thumb-im{
object-fit: contain;
margin-bottom: 20px;
height: 300px;
}
width: 340px;

.main-thumb{
width: 650px;

}
object-fit: contain;

.im-gif{
		object-fit: contain;

	height: 200px;
	width: 450px;

}
	
.bg-im{
    background: url(bg-blured.png) center /cover;
	background-attachment: fixed;
}
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  
